!!!!!
%head
  %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,700|Bitter:400,700|Nothing+You+Could+Do", :media => "screen", :rel => "stylesheet", :type => "text/css"}
  %link{:href => 'styles.css', :type => 'text/css', :rel => 'stylesheet', :media => 'screen'}
  

%body
  .container
    %div#header
      %img#logo{:src => 'new-sl-logo.png', :height => 50}
      %h1 
        %b Welcome to Advanced HTML/CSS
      %p How comfortable are <i>YOU</i> with the box model?

    %div.box-container.group
      
      .one 1
      .two 2
      .three 3
      .four 4
      .five 5
      .six 6

    %div#footer.clear
      %p
        %a{:href => '#'}Email This Exercise To Yourself

